.change-password-form{

  &__title{
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 16px;
    color: white;

    @media #{$medium-and-down} {
      font-size: 16px;
    }
  }

  &__input-wrapper {
    margin-bottom: 16px !important;
    max-width: 70%;

    @media #{$medium-and-down} {
      max-width: 100%;
    }
  }

  &__save-btn{
    max-width: 40%;

    @media #{$medium-and-down} {
      max-width: 100%;
      width: 100%;
    }
  }

}
