//@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

@font-face {
  font-family: "888";
  src: url('../styles/fonts/888-regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "888";
  src: url('../styles/fonts/888-DemiBold.woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "888";
  src: url('../styles/fonts/888-Bold.woff');
  font-weight: 700;
  font-style: normal;
}
